@model FMS.Data.Flight

@{
    ViewBag.Title = "Xóa";
}

<h3>Bạn chắc chắn muốn xóa bài viết này?</h3>
<div>
    <h4>Chuyến bay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           <label>Loại tàu bay</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AircraftType)
        </dd>
        <dt>
            <label>Số hiệu tàu bay</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AircraftCode)
        </dd>
        <dt>
            <label>Số hiệu chuyến bay</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            <label>Đường bay</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RouteName)
        </dd>
        <dt>
            <label>Sản lượng dự kiến kg</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimateAmount)
        </dd>

        <dt>
            <label>Giờ hạ cánh dự kiến</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalScheduledTime)
        </dd>

        <dt>
            <label>Giờ cất cánh dự kiến</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureScheduledTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay về danh sách", "Index")
        </div>
    }
</div>
