@model FMS.Data.ProductPrice

@{
    ViewBag.Title = "Xóa";
}

@*<h2>Delete</h2>*@
<h3>Bạn thật sự muốn xóa dữ liệu này?</h3>
<div>
    <h4>Giá</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Customer.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Code)
        </dd>*@
        <dt>
            <label>Ngày bắt đầu</label>
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.StartDate)*@
            @Model.StartDate.ToString("dd/MM/yyyy")
        </dd>
        <dt>
            <label>Ngày kết thúc</label>
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.EndDate)*@
            @Model.EndDate.Value.ToString("dd/MM/yyyy")
        </dd>
        <dt>
            <label>Giá</label>
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Price)*@
            @Math.Round(Model.Price)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDeletedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDeletedId)
        </dd>*@
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay về danh sách", "Index")
        </div>
    }
</div>
